// bower:scss
@import "bower_components/susy/sass/_susy";
@import "bower_components/sassy-maps/sass/_sassy-maps";
@import "bower_components/breakpoint-sass/stylesheets/_breakpoint";
// endbower

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import "_reset";
@import "../../bower_components/font-awesome/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:700);

// Configuring Susy 2 Global Defaults
$susy: (
  global-box-sizing: border-box,
  //use-custom: (rem: true)
);

*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.fixed-panel{
  position: fixed;
  top:0;
  width: 100%;
  transition: all 0.3s;
  height: 100px;
  z-index: 9999;
}

.fixed-panel-shrink{
  background-color: black;
}

.container-fluid{

}

.top-panel{
  border-bottom: 1px solid rgba(255,255,255,0.2);
  display: flex;
  flex-direction: row;
  height: 100px;
}

.top-logo{
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.logo-header{
  text-decoration: none;
}

.logo-header__title{
  color: red;
}

.logo-header__tagline{
  color: white;
}

.top-navigation{
  align-self: center;
  margin-right: 30px;
}

.navigation-list{
  @include clearfix;
}

.navigation-item{
  margin-right: 40px;
  float: left;

  &:last-child{
    margin-right: 0;
  }
}

.navigation-link{
  text-decoration: none;
  color: inherit;
  height: 100px;
  line-height: 100px;
  display: block;

  &:hover{
    border-bottom: 3px solid white;
  }
}

.navigation-link_current{
  border-bottom: 3px solid white;
}

.top-search{
  align-self: center;
  margin-right: 35px;
}

.form-search{
  position: relative;
}

.input{
  background-color: white;
  border: 1px solid #f2f2f2;
  border-radius: 22px;
  width: 220px;
  height: 44px;
  padding: 0 30px;

  color: #626262;
  font-size: 12px;
  font-weight: 400;
  line-height: 75px;
}

.label{
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #b6b6b6;
  font-size: 14px;
}

.navigation{
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  @include clearfix;
}

.header{
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.container{
  @include container(1180px);
}

.header-intro{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include span(9 of 20);
  text-align: right;
}

.intro-title{
  color: white;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 50px;
}

.button-area{
  @include clearfix;
  width: 40%;
  margin-left: auto;
}

.intro-button{
  float: right;
  background-color: #8824cd;
  border-radius: 30px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

.intro-description{
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  clear: both;
}

.section-1{
  background-color: #2e3b4e;
  padding-top: 80px;
  padding-bottom: 140px;
}

.about{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.article{
  margin-bottom: 70px;
  width: 45%;

  &:last-child{
    margin-right: 0;
  }
}

.article-header{
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.article-text{
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.section-2{
  background-color: #e7526b;
  background-image: url("../images/section-bg.png");
  background-size: cover;

  padding: 150px 0 195px;
}

.action{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.action-header{
  color: white;
  font-family: inherit;
  font-size: 35px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 20px;
}

.action-description{
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.action-button{
  background-color: white;
  border-radius: 31px;
  color: #d54c63;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  border: none;
  padding: 0 90px;
}

.section-3{
  //background: white url("../images/photo1.jpg") no-repeat;
  background: white;
  background-size: contain;
  position: relative;
}

.s3-inner{
  color: #3a4d60;
  font-family: inherit;
  width: 70%;
  margin: 0 auto;
  margin-right: 0;
  padding-bottom: 50px;
  padding-top: 70px;
}

.inner-img{
  font-size: 0;
  height: 100%;

  img{
    height: 100%;
  }
}
.section-3{
  .inner-img{
    float: left;
    margin-right: 100px;
  }
}


.s3-inner-header{
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;

}

.s3-inner-description{
  font-size: 19px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 30px;
}

.s3-inner-text{
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.section-4{
  background: url('../images/section-bg-2.jpg') no-repeat;
  background-size: cover;
  padding-top: 95px;

  .container-fluid{
    background-color: rgba(82,26,102,0.8);
  }
}



.s4-inner{
  padding-bottom: 115px;
  padding-top: 95px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.s4-inner-header{
  color: white;
  font-family: inherit;
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
  margin-bottom: 30px;
}

.s4-inner-text{
  color: #a87bb7;
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  margin-bottom: 30px;
}

.s4-inner-button{
  background-color: #8824cd;
  border-radius: 29px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
  border: none;
  padding: 0 60px;
}

.s4-inner-substring{
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.section-5{
  background: url("../images/photo2.jpg");
  background-size: cover;
}

.s5-inner{
  width: 50%;
  margin-right: auto;
  margin-left: 0;
  padding-top: 360px;
  padding-bottom: 90px;
}

.s5-inner-prof{
  color: white;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 17px;
  padding: 5px 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.s5-inner-header{
  color: white;
  font-family: inherit;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 25px;
}

.s5-inner-signature{
  display: table;
}

.s5-inner-avatar{
  border-radius: 50%;
}

.s5-inner-caption{
  color: white;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
}

.section-6{
  background-color: white;
  color: #3a4d60;
  font-family: inherit;
}


.section-6{
  .inner-img{
    float: right;
    margin-left: 100px;
  }
}

.s6-inner{
  width: 60%;
  margin-left: 0;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.s6-inner-header{
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.s6-inner-text{
  font-size: 19px;
  font-weight: 400;
  line-height: 31px;
  margin-bottom: 20px;
}

.s6-inner-substring{
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.contacts{
  background-color: #e7526b;
  padding: 80px 0;
}

.contacts-inner{
  display: flex;
  justify-content: space-between;
}

.contacts-inner-intro{
  width: 32%;

  color: white;
  font-family: inherit;
  font-size: 15px;

  h3{
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 45px 0 35px;
  }

  p{
    font-weight: 400;
    line-height: 26px;
  }

  .emal{
    font-weight: 400;
    line-height: 26px;
    text-decoration: underline;
    padding: 45px 0;
  }
}

.contacts-inner-social{
  font-size: 14px;


  a{
    color: inherit;
    margin-right: 10px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.contacts-inner-form{
  width: 65%;
}

.contacts-inner-form{
  input{
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #fff;
    color: #626262;
    width: 45%;
  }

  textarea{
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #fff;
    color: #626262;
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }

  button[type='submit']{
    display: inline-block;
    padding: 10px 30px;
    color: #626262;
    background-color: #fff;
    cursor: pointer;
    border: none;
  }
}

.form-left{
  float: left;
}
.form-right{
  float: right;
}